.search-button {
  box-sizing: border-box;
  padding: 5px;
  border: none;
  border-radius: 50%;
  background-color: transparent;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url('./img/css_sprites-2.png') -54px -54px;
    border: none;
  }
  
  &:hover {
    opacity: 0.5;
  }
}