.subscribe {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 2em;

  label {
    padding: 0.5em;
    text-transform: uppercase;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2em;
    padding: 0.5em;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000000;

    &:focus {
      border-bottom-color: $main-color;
      outline: none;
    }
  }

  &__submit {
    box-sizing: border-box;
    width: 100%;
    max-width: 320px;
    padding: 0.5em;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: transparent;
    transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);

    margin: 0 auto;

    &:hover {
      color: #ffffff;
      background-color: $main-color;
    }
  }


}